.box-prueba{
	border:2pt solid #0db3b3;
	background-color: #f7f7f7;
	height: 200px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.animal{
	margin-top: 20px;
    background-color: rgb(35, 32, 56);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.good:hover, .bad:hover{
	cursor: pointer;
}
.botones{
	margin-top: 5px;
}
.aciertos,.errores{
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid #0db3b3;
    border-bottom-right-radius: 50px;
    box-shadow: 3px 3px 2px grey;
}
.aciertos:nth-child(1){
	color: green;
}
.errores:nth-child(1){
	color: red;
}
.game-over{
	display: none;
	text-align: justify;
}
.game-over p{
	font-size: 12px;
}
.game-over h4{
	font-weight: bold;
}
.btn-default,.btn-default:hover{
	border-color: #0db3b3;
	width: 140px;
}
.descripcion-animales, .descripcion-frutas,.juego-animales,.juego-frutas{
	display: none;
}
.footer:after{
	content: "";
	display: -webkit-inline-box;
	width: 220px;
    height: 70px;
    background-image: url('../images/logos.png');
}
.footer{
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}
footer{
	width: 100%;
}